.wrapper-web-psw {
  padding-top: 10em;
  padding-bottom: 20.5em;
  text-align: center;
}

.web-h2-psw {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 1em;
}

.wrapper-child-psw {
  padding-bottom: 2em;
}

.web-label-psw {
  display: block;
  color: var(--text-color);
  font-weight: bold;
  margin-top: 1em;
}

.web-input-psw {
  text-align: center;
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.15em solid var(--primary-color);
  font-weight: bold;
}

.psw-p {
  font-style: italic;
  color: var(--text-color);
  padding-bottom: 1em;
}

.s-e-message {
  padding-top: 2em;
}
